= form_for :session, :html => {:class => "bordered margin-top"}, :url => session_path do |form|
  %h4 Sign up
  .row
    .columns.small-12
      = form.label :email
      = form.text_field :email, :type => 'email'
  .row
    .columns.small-12
      = form.label :password
      = form.password_field :password
  .row
    .columns.small-12
      = form.submit 'Log in', :class => "button"
      = link_to "Sign up", sign_up_path


