.row
  .columns.small-12.large-6.large-centered
    = render 'shared/model_errors', :m => @user
    = form_for @user, :html => {:class => "bordered"} do |form|
      %h4 Sign up
      = render 'users/form', :form => form
      .row
        .columns.small-12
          = form.submit :class => "button"
          = link_to "Cancel", root_path
