%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{href: root_path}
          = Moment
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span

  %section.top-bar-section
    - if signed_in?
      %ul.left
        %li
          = link_to "Gallery", gallery_path
        %li
          = link_to "Dashboard", dashboard_path
        %li
          = link_to "Profile", profile_path
    %ul.right
      - if signed_in?
        %li= link_to 'Sign out', sign_out_path, method: :delete
      - else
        %li= link_to 'Log in', sign_in_path
      
