%html
  %head
    %title= @title.blank? ? "Moment" : "#{@title} | Moment"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    - if !@ignore_container
      = render "layouts/container", :content => yield
    - else
      = yield
    = debug(params) if Rails.env.development?
    = render 'layouts/footer'